@model SystemsVModel

@{
    ViewData["Title"] = "Delete";
}

@if (Model != null)
{
    <h2>Delete Confirmed</h2>
    <p>The following system has been successfully deleted:</p>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Systems_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Systems_Name)
            </dd>
        </dl>
    </div>
}

<form asp-action="Index">
    <button type="submit" class="btn btn-secondary">Go back</button>
</form>
