@model SystemsVModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" method="post" class="form">
    <input type="hidden" asp-for="System_Id" />
    <div class="form-group">
        <label asp-for="Systems_Name" class="control-label"></label>
        <input asp-for="Systems_Name" class="form-control" />
        <span asp-validation-for="Systems_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
