@model Irrigation_management_app.Models.UsersVModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create User</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="UserName">User Name</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Names">Names</label>
                    <input asp-for="Names" class="form-control" />
                    <span asp-validation-for="Names" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Surnames">Surnames</label>
                    <input asp-for="Surnames" class="form-control" />
                    <span asp-validation-for="Surnames" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Is_Active">Is Active</label>
                    <select asp-for="Is_Active" class="form-control">
                        <option value="1" selected>Yes</option>
                        <option value="0">No</option>
                    </select>
                    <span asp-validation-for="Is_Active" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="User_Type_Id">User Type</label>
                    <select asp-for="User_Type_Id" class="form-control">
                        @if (User.Identity.IsAuthenticated)
                        {
                            foreach (var userType in ViewBag.UserTypes)
                            {
                                <option value="@userType.User_Type_Id">@userType.User_Type_Name</option>
                            }
                        }
                        else
                        {
                            <option value="2">Admin</option>
                        }
                    </select>
                    <span asp-validation-for="User_Type_Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="City">City</label>
                    <select asp-for="City" class="form-control">
                        <option value="">Selecciona una ciudad</option>
                        <option value="Bogotá">Bogotá</option>
                        <option value="Soacha">Soacha</option>
                        <option value="Facatativá">Facatativá</option>
                        <option value="Zipaquirá">Zipaquirá</option>
                        <option value="Chía">Chía</option>
                        <option value="Girardot">Girardot</option>
                        <option value="Funza">Funza</option>
                        <option value="Mosquera">Mosquera</option>
                        <option value="Cajicá">Cajicá</option>
                        <option value="Madrid">Madrid</option>
                        <option value="Fusagasugá">Fusagasugá</option>
                        <option value="Sibaté">Sibaté</option>
                        <option value="Tabio">Tabio</option>
                        <option value="Tenjo">Tenjo</option>
                        <option value="Cota">Cota</option>
                        <option value="Tocancipá">Tocancipá</option>
                        <option value="Bojacá">Bojacá</option>
                        <option value="Cajicá">Cajicá</option>
                        <option value="La Calera">La Calera</option>
                        <option value="La Mesa">La Mesa</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Create</button>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Index" class="btn btn-secondary">Go back</a>
                }
                else
                {
                    <a asp-action="Login" class="btn btn-secondary">Go back</a>
                }
            </form>
        </div>
    </div>
</div>
